*{
    box-sizing: border-box;
}

:root{
    --color1: #264653;
    --color2: #2A9D8F;
    --color3: #e9c46a;
    --color4: #f4a261;
    --color5: #e76f51;

}


body, html {
    margin: 0;
    padding: 0;
    font-family: 'bebas';
    
    
}

main {
    min-height: 100vh;
    
}

header{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: white;
    height: 5em;
    
    width: 100%;
    bottom:0%;
    color: var(--color2);
    
    
}

.name-container{
    
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    
    
}

.first{
    display: flex;
    margin: 20px;
    text-align: center;
    left: 20px;
    position: relative;

}

h2 {
    font-weight: bold;
    align-self: flex-end;
      
}

.nav {
    flex-wrap: wrap;
    
    display: flex;
    width: 85%;
    margin-bottom: 7px;
    align-items: flex-end;
    

    
}

.contact {
    
    display: flex;
    width: 300px;
    
}


.about {
    display: flex;
    width: 300px;
    
    color: var(--color3)
}

.nav-item{
    margin-left: auto;
    
}


a{
    text-decoration: none;
    color: var(--color3)
}

li {
    list-style: none;
    list-style-position: outside;
    
}

main{
    height: 100vh;
    background-color: white;

}

.main-info {
    
    margin: 50px;
    padding: 3px;
    font-size: 40px;
    
}


.color1 {color: var(--color1)}
.color2 {color: var(--color2)}
.color3 {color: var(--color3)}
.color4 {color: var(--color4)}
.color5 {color: var(--color5)}


.secondary{
    font-size-adjust: unset;
    font-size: 20px;
    align-content: space-between;
}


.side-col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 400px;
    flex-shrink: -1;
}

.skill-list {
    flex-wrap: wrap;
    margin-left: auto;
    padding: 30px;
    
    
}


.make-bold{
    font-weight: bold;
    font-size: 40px;
}

li {
    font-size: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: space-between;
    background-color: white;
    text-align: center;
}

.tiny{font-size: 15px;}


@font-face {
    font-family: 'bebas';
    src: url('font/BebasNeue-Regular.otf');
}